body {
	font-family: Verdana, Arial, sans-serif;
	width: 800px;
	margin: auto;
}
h1 {
	margin-top: 50px;
}
.game{
	height: 600px;
	width: 600px;
	border: 1px solid gray;
	padding-top: 25px;
}
.game .card{
	height: 80px;
	width: 90px;
	border: 1px solid gray;
	margin: 15px 5px;
	padding: 5px;
	background: url(../img/cat01.jpg) center center;
	background-size: contain;
}
.game .counter {
    width: 85px;
	padding-top: 60px;
	font-size: 1em;
	text-align: center;
	color: red;
	cursor: pointer;
}
